<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Transcode_1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Transcode_1.My.MySettings>
            <setting name="MPV_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="SubtitleEdit_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpeg_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="ffprobe_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="othertranscode_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="MKVPropEdit_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="MKVMerge_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="MKVMerge_Defaults" serializeAs="String">
                <value />
            </setting>
            <setting name="othertranscode_Defaults" serializeAs="String">
                <value>" --copy-track-names --add-audio eng --add-subtitle eng "</value>
            </setting>
            <setting name="RoboCopy_Defaults" serializeAs="String">
                <value>" /is /njs /ndl /nc /ns"</value>
            </setting>
            <setting name="othertranscode_Options" serializeAs="String">
                <value>"--copy-track-names "</value>
            </setting>
            <setting name="MKVMerge_options" serializeAs="String">
                <value>" --no-buttons --no-attachments "</value>
            </setting>
            <setting name="Ruby_Path" serializeAs="String">
                <value />
            </setting>
        </Transcode_1.My.MySettings>
    </userSettings>
</configuration>